
.App {
  text-align: center;
}

.option:hover {
  background-color: rgb(200,200,200);
  color: white;
}
.correct {
  background-color: rgb(53, 212, 53);
}
.selected:not(correct) {
  background-color: rgb(206, 58, 58);
}